$purple_color: #621AFB;
$black_color: #060809;
$white_color: #EEEFFC;

html{
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

header{
  position: static;
}

*{
  margin: 0;
  padding: 0;
}

.element::-webkit-scrollbar {
  width: 0;
  transition: 1s;
}

::-webkit-scrollbar {
  width: 0;
}

a{
  color: $white_color;
  text-decoration: none;
}

a:hover{
  color: #e2e2e8;
}

@font-face {
  font-family: 'Inter', sans-serif;
}

p{
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
}

body{
  margin: 0 0 0 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  flex-wrap: wrap;
  align-items: center;
}

.black-background-block{
  background-color: $black_color;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  flex-wrap: wrap;
  align-items: center;
}

.white-background-block{
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  flex-wrap: wrap;
  align-items: center;
}

@media screen and (min-width: 1440px){
  .main-container {
    width: 1240px;
    margin: 0 100px 0 100px;
  }
  main{
    background-color: $black_color;
    height: 700px;
    border-radius: 35px;
    display: grid;
    grid-template-columns: 564px 603px;
    grid-template-rows: 596px 41px;
    justify-content: space-between;
  }

  .web-pay__web-pay-form {
    width: 588px;
    height: 580px;
    left: 652px;
    border-radius: 2px;
  }

  .person{
    width: 720px;
    height: 704px;
  }
}

@media screen and (max-width: 1440px) and (min-width: 1000px) {
  .main-container {
    max-width: 100%;
    margin: 0 100px 0 100px;
  }
  main{
    max-width: 100%;
    background-color: $black_color;
    height: 700px;
    border-radius: 35px;
    display: grid;
    grid-template-columns: 52% 48%;
    grid-template-rows: 596px 41px;
    justify-content: space-between;
  }

  .web-pay__web-pay-form {
    width: 100%;
    height: 580px;
    left: 652px;
    border-radius: 2px;
  }

  .person{
    width: 120%;
    height: 704px;
  }
}

@media screen and (max-width: 1000px){
  .main-container {
    max-width: 100%;
    margin: 0 50px 0 50px;
    display: inline-block;
  }
  main{
    background-color: $black_color;
    height: 780px;
    border-radius: 35px;
    display: grid;
    grid-template-columns: 52% 48%;
    grid-template-rows: 596px 41px;
    justify-content: space-between;
  }

  .web-pay__web-pay-form {
    width: 100%;
    height: 580px;
    left: 652px;
    border-radius: 2px;
  }

  .person{
    width: 110%;
    height: 704px;
  }
}

.container {
  height: 80px;
  display: flex;
  flex-flow: row;
  background-color: $black_color;
  color: $white_color;
}

.header_burger{
  display: none;
}

.menu{
  width: 446px;
  Height: 20px;
  display: flex;
  top: 29px;
  padding: 2px 0px 0px 12px;
  font-family: "Inter";
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0em;
  text-align: center;
  position: relative;
  left: 50px;
  transition: 0.5s;
}

.menu .link {
  width: 61px;
  display: flex;
  text-align: center;
  padding: 0 32px 0 0;
}

@media screen and (max-width: 1000px){
  header{
    display: flex;
    justify-content: end;
    z-index: 2;
  }

  header:before{
    z-index: 3;
    background: $black_color;
  }

  .login-start{
    display: none !important;
  }

  .menu{
    position: fixed;
    display: none;
    justify-content: start;
    z-index: 4;
    flex-flow: column;
    align-items: center;
    height: 100%;
    background: $black_color;
    overflow: auto;
    left: 0px;
    width: 100%;
    top: 0px;
  }

  .menu .link{
    font-size: 26px;
    margin-top: 80px;
    text-align: center;
  }

  .logo{
    display: none !important;
    position: absolute;
    left: 0;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 50px;
  }

  .header_burger{
    margin-top: 30px;
    margin-bottom: 30px;
    display: block;
    position: fixed;
    width: 30px;
    height: 20px;
    right: 50px;
    z-index: 5;
  }

  .header_burger span{
    position: absolute;
    background: $white_color;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
  }

  .header_burger:before,
  .header_burger:after{
    content: '';
    background-color: $white_color;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
  }
  .header_burger:before{
    top:0;
  }
  .header_burger:after{
    bottom:0;
  }
}

.logo{
  max-width: 120px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-start {
  margin-left: auto;
  width: 218.25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: center;
  position: relative;
  /*left: 50px;*/
}

.login-text {
  width: 41.24687576293945px;
  margin-right: 32px;
}

.title{
  font-family: Inter;
  font-weight: 500;
}

.blue-button {
  display: flex;
  justify-content: center;
  border: 0;
  color: $white_color;
  background: $purple_color;
  border-radius: 34px;
  /*margin-left: 35px;*/
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  width: 145px;
  height: 33px;
  padding: 4px 16px 4px 16px;
  cursor: pointer;
}

.blue-button:active{
  background: #5d19ee;
}

hr{
  margin: 0;
  opacity: .08;
}


.sigma-capsule{
  height: 26.2px;
  width: 276.2px;
  margin: 140px 5px 4px 0px;
  border-radius: 9999px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  background: rgba(255, 255, 255, 0.1);
  font-family: SF Pro Display;
  font-size: 13px;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(238, 239, 252, 1);
  display: flex;
  flex-flow: nowrap row;
  justify-content: space-around;
}

.main-title-text .register-text{
  display: flex;
  align-content: start;
  margin-left: 12px;
}

.link-capsule{
  justify-content: center;
  align-content: center;
  margin-top: auto;
  margin-bottom: auto;

}
.link-capsule:hover{
  text-decoration: none;
}

.button-span{
  margin-left: auto;
  margin-right: 4px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:3px;
  width: 29px;
  height: 20px;
  border-radius: 9999px;
  background: rgba(255, 255, 255, 0.05);
  transition: 0.5s;
}

.button-span:hover{
  width: 35px;
  height: 26px;
  margin-top:0;
  transition: 0.5s;
}

.main-title-text .midle-text{
  margin: 0;
  font-size: 63px;
  font-weight: 500;
  line-height: 68px;
  letter-spacing: -0.04em;
  text-align: left;
  background: linear-gradient(281.85deg, #6A6772 21.87%, #FFFFFF 58.31%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-title-text .bottom-text{
  margin-top: 24px;
  width: 523px;
  height: 58px;
  font-size: 18px;
  font-weight: 400;
  line-height: 28.6px;
  letter-spacing: 0em;
  text-align: left;
  color: $white_color;
}

.main-img{
  top: 64px;
  display: flex;
  width: 100%;
  height: 100%;
  mix-blend-mode: lighten;
  margin: auto;
}

.purple-light{
  width: 323.6363525390625px;
  height: 89px;
  margin: -40px 0 0 -49.8px;
}

.start-button{
  display: inline-block;
  color: $white_color;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  background: $purple_color;
  width: 210.5px;
  height: 50px;
  padding: 0px 32px 0px 32px;
  border-radius: 2px;
  border: 0;
  border-radius: 0;
  padding: 0;
  cursor: pointer;
}

.start-button:active{
  background: #5d19ee;
}

.play-the-video{
  color: $white_color;
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: -0.03em;
  text-align: left;
  grid-column-start: 2;
  grid-row-start: 2;
  width: 171px;
  height: 41px;
  gap: 15px;
  display: flex;
  margin-top: 25px;
  margin-left: auto;
  margin-right: 40px;
}

.vector{
  margin-left: 10px;
}

.text-play-video{
  margin-left: 15px;
  margin-top: -6px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: start;
  align-content: start;
  text-align: start;
}

.img-play > img {
  width: 36px;
  transition: 1s;

  &:hover {
    width: 42px;
  }
}

.link-play-video {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.link-play-video:hover{
  text-decoration: none;
}

.trusted-by{
  margin-top: 75px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  font-family: Inter;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.085em;
  text-align: center;
  /*width: 175px;*/
  height: 18px;
  top: 930px;
  left: 632px;
}

.runner-bar{
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-flow: row;
  align-content: center;
}

.banks-scroll{
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  margin-top: 25px;
  align-items: end;
  animation: banks-scroll 15s linear infinite;
}

.banks-scroll-v2  > img{
  margin-right: 68px;
  width: 300%;
}

.banks-scroll > img {
  margin-right: 68px;
  width: 300%;
}

.banks-scroll-v2{
  margin-left: 1380px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  margin-top: 25px;
  align-items: end;
  animation: banks-scroll-v2 15s linear infinite;
}

@keyframes banks-scroll{
  0%{
    transform: translateX(-50%);
  }
  100%{
    transform: translateX(-404%);
  }
}


@keyframes banks-scroll-v2{
  0%{
    transform: translateX(-50%);
  }

  100%{
    transform: translateX(-404%);
  }
}

@media screen and (max-width: 1440px) {
  .trusted-by{
    display: none;
  }

  .runner-bar {
    display: none;
  }
}

.santander{
  width: 215.0655059814453px;
  height: 36.82387161254883px;
}

.ubs{
  width: 136.39581298828125px;
  height: 52.3759880065918px;
}

.deutsche-bank{
  width: 232.41845703125px;
  height: 44.737823486328125px;

}

.barclays{
  width: 178.9512939453125px;
  height: 30.55265998840332px;
}

.revoult{
  width: 130.93997192382812px;
  height: 29.46149444580078px;

}

.web-pay{
  font-family: Inter;
  margin-top: 127px;
  display: grid;
  grid-template-columns: 52% 48%;
  grid-template-rows: 580px;
  justify-content: space-between;

  &__web-pay-text{
    font-weight: 500;
    text-align: left;
  }

}

.web-pay__web-pay-form_background_pic{
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-content: center;
  background-image:
  url("png/Screenshot 2022-11-10 at 21.40 3.png");
  background-repeat: no-repeat;
  background-position: center;

  @media screen and (min-width: 1440px){
    width: 588px;
    height: 580px;
  }

  @media screen and (max-width: 1440px) {
    width: 100%;
    height: 100%;
  }

}

.title-web-pay{
  margin-top: 89px;
  font-size: 55px;
  font-weight: 500;
  line-height: 52px;
  letter-spacing: -0.045em;
}

.description-web-pay{
  margin-top: 32px;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0px;
}

.list-web-pay{
  display: flex;
  flex-flow: row wrap;
  margin-top: 40px;
  width: 259px;
  height: 87px;

  &_li-text{
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
  }

  li::before{
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    content: url(svg/ul_li.svg);
    width: 16px;
    margin-top: 3px;
    margin-inline-end: 8px;
  }

  li::marker{
    content: none;
  }
}

.list-web-pay_li-text{
  display: flex;
  flex-flow: row wrap;
  align-content: center;
}

.link-text-block{
  margin-top: 40px;
}

.link-text{
  color: $purple_color;
  width: 118.5px;
  height: 25px;

  &:hover{
    text-decoration: none;
    color: $purple_color;
  }

  &:active{
    font-size: 15px;
  }
}

.web-pay__form{
  background: white;
  display: flex;
  width: 348.26px;
  height: 479.68px;
  border-radius: 4px;
}

.switcher-sticks{
  margin-top: 134px;
  display: flex;
  width: 101px;
  height: 3px;
  text-align: left;

  .switcher-sticks_one{
    margin-top: 4px;
    width: 31px;
    height: 3px;
    border-radius: 3px;
    background: #D9D9D9;
    margin-right: 4px;

    &:active{
      background: $purple_color;
    }
    &:hover{
      cursor: pointer;
    }
  }
}

.title-unlock{
  font-size: 55px;
  line-height: 52px;
  letter-spacing: -0.045em;
  text-align: center;
  height: 104px;
}

.text-page-3{
  display: flex;
  flex-flow: column;
  margin-top: 202px;
  width: 662px;
  height: 188px;

  .text-page{
    margin-top: 16px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;

  }
}

.page-3-black{
  margin-top: 48px;
  height: 704px;
}

.black-page-3-block{
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  flex-flow: column;
  height: 704px;


  .text-page{
    width: 100%;

    .text-page-background-image{
      margin-left: -14px;
      width: auto;
      height: 118px;
      mix-blend-mode: lighten;
    }
  }
}

.text-page__midle-text-page-3{
  margin-top: 46px;
  width: 468px;
  height: 205px;
  font-family: Inter;
  font-size: 30px;
  font-weight: 500;
  line-height: 41px;
  letter-spacing: -0.07em;
  text-align: center;
  background: linear-gradient(119.45deg, #6A6772 10.56%, #FFFFFF 47.65%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-page__bottom-text-page-3{
  margin: 48px 0 0 125.5px;
  color: #767C87;
  margin-top: 48px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  width: 223px;
  height: 24px;
}

.text-page__bullet-span{
  text-align: center;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  justify-items: center;
  align-items: center;
  margin: 48px 0 0 196.5px;
  width: 75px;
  height: 12px;
}

.text-page__bullet-span_one{
  background: #656B76;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  cursor: pointer;

  &:last-child{
    margin-right:0;
  }

  &:active{
    background: #FFFFFF;
    width: 12px;
    height: 12px;
    border-radius: 9999px;
  }
}

.dating-img{
  margin: 48px 0 0 178.44px;
  width: 111.1219482421875px;
  height: 68px;
}

.text-page-4{
  margin-top: 182px;
  width: 100%;
  height: 96px;
}

.text-page-4__title{
  font-size: 45px;
  line-height: 42px;
  letter-spacing: -0.045em;
  text-align: left;
}

.description-text{
  font-family: Inter, sans-serif;
  width: 100%;
  height: 26px;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
}

.text-page-4__position-description-text{
  margin-top: 12px;
}

.technology-block{
  margin-top: 64px;
  width: 100%;
  height: 325px;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

.technology-block__technology{
  padding: 56px 30px 28px 28px;
  width: 235px;
  height: 239px;
  border-radius: 5px;
  border: solid 1px;
  border-color: #EAECED;
  position: relative;
}

.technology-block__technology-image{
  width: 48px;
  height: 48px;
}

.technology-block__technology-title{
  margin: 32px 0 0 0px;
  font-family: Inter;
  font-size: 26px;
  font-weight: 500;
  line-height: 31px;
  letter-spacing: 0.25999999046325684px;
  text-align: left;
}

.technology-block__technology-text{
  margin: 16px 0 0 0px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

.technology-block__button{
  display: flex;
  margin: 38px 0 0 0px;
  max-width: 235px;
  width: 100%;
  Height: 31px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  border: solid 1px;
  border-radius: 34px;
  border-color: #4548511F;
  color: #333333;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  &:hover{
    text-decoration: none;
    background-color: #333333;
  }
  position: absolute;
  bottom: 20px;
}

@media screen and (max-width: 1440px) {
  .technology-block {
    justify-content: space-around;
    height: 100%;
  }

  .technology-block__technology{
    margin-bottom: 28px;
  }
}

.page-4-black{
  margin-top: 185px;
}

.page-4-wrapper{
  height: 100%;
  margin-top: 170px;
  display: flex;
  flex-flow: row wrap;
}

.page-4-left-block{
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 60px;
}

.page-4-right-block{
  display: flex;
  flex-flow: column wrap;
}

@media screen and (max-width: 1390px) {
  .page-4-left-block{
    align-items: center;
    width: 100%;
  }

  .page-4-right-block{
    align-items: center;
    width: 100%;
  }

  .text-page-4-black__title, .text-page-4-black__under-title{
    text-align: center !important;
  }
}

.text-page-4-black{
  width: 511px;
  height: 122px;
}

.text-page-4-black__title{
  width: 475px;
  height: 54px;
  font-family: Inter;
  font-size: 45px;
  font-weight: 500;
  line-height: 54px;
  letter-spacing: -0.04em;
  text-align: left;
  color: #FFFFFF;
}

.text-page-4-black__under-title {
  margin-top: 16px;
  width: 511px;
  height: 52px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  color: $white_color;
}

.text-page-4-black__no-chargeback{
  display: flex;
  flex-flow: row wrap;
  margin-top: 81px;
  width: 325px;
  height: 49px;
  padding: 0px 19px 0px 0px;
  align-items: center;
}

.text-page-4-black__no-chargeback-text{
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.055em;
  text-align: left;

  font-family: Inter;
  font-size: 32px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: -0.055em;
  text-align: left;
  width: 278px;
  background: linear-gradient(281.85deg, #C3C5D2 21.87%, #FFFFFF 30%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-page-4-black__no-chargeback-desc{
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 11px;
  letter-spacing: 0em;
  text-align: left;
  color: #C3C4D2;
}

button{
  border: none;
}

.clickable-gray-plate{
  margin-left: 76px;
  width: 605px;
  top: 170px;
  left: 715px;
  padding: 40px 16px 40px 16px;
  gap: 16px;
  background: none; //#1A1C1F;
  cursor: pointer;
  border-top: solid 1px #1A1C1F;
  border-bottom: solid 1px #1A1C1F;
  color: $white_color;
  transition: 0.5s;
}

.gray-plate__question-text{
  margin-bottom: 0px; // click up to 16px
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  color: #FFFFFF;
}

.gray-plate__desc-text{
  display: none;
}

.answer-text{
  background-color: rgb(26, 28, 31);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.5px;
  text-align: left;
  color: $white_color;
  width: 573px;
  padding: 0px 16px 16px 16px;
  margin-left: 76px;
}
.close-open-vector{
  width: 16px;
  height: 16px;
}

.active, .clickable-gray-plate:hover, .footer_accordion:hover {
   background-color: rgb(26, 28, 31);
}

.active, .clickable-gray-plate:active:future, .footer_accordion:active:future{
  padding: 40px 16px 0px 16px;
  transition: padding 0.5s;
}

.active:after {
  content: url("png/Vector_up.png");
}

footer{
  color: $white_color;
}

.ic-image, .footer-link-text, .footer-button{
  cursor: pointer;
}




